@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Bank Account Detail";
}
@await Html.PartialAsync("_sideBarPartialView")

<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid between mb-10" >
    @await Html.PartialAsync("_menuPartialView")
    <div class="d-flex flex-row-fluid flex-center bg-body rounded mt-5" id="content-side">
        <div class="py-20 w-100 w-xl-700px px-9 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" data-kt-stepper="true">
            <div data-kt-stepper-element="content" class="pending step-content" id="step-content-bank-account">
                <!--begin::Wrapper-->
                <div class="w-100">
                    <!--begin::Heading-->
                    <div class="pb-10 pb-lg-12">
                        <!--begin::Title-->
                        <h2 class="fw-bolder text-dark">Bank Account Details</h2>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Input group-->
                    <div class="group-item">
                        <form id="bankAccountDetailForm">
                            <input type="hidden" id="bank-account-Id" value="0"/>
                            <!-- 1 -->
                            <div class="mb-3">
                                <label for="bankName" class="form-label">
                                    <strong>
                                        1. Bank Name
                                    </strong>
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="bankName" name="bankName" value="" />
                                <span id="error-bankName" class="errorMessage"></span>
                            </div>

                            <!-- 2 -->
                            <div class="mb-3">
                                <label class="form-label" for="accountHolderName">
                                    <strong>2. Account Holder Name</strong>
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="accountHolderName" name="accountHolderName" value="" >
                                <span id="error-accountHolderName" class="errorMessage"></span>
                            </div>

                            <!-- 3 -->
                            <div class="mb-3">
                                <label class="form-label" for="BSBNumber">
                                    <strong>3. BSB Number</strong>
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="BSBNumber" name="BSBNumber" value="" >
                                <span id="error-BSBNumber" class="errorMessage"></span>
                            </div>

                            <!-- 4 -->
                            <div class="mb-3">
                                <label class="form-label" for="accountNumber">
                                    <strong>4. Account Number</strong>
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="accountNumber" name="accountNumber" value="" >
                                <span id="error-accountNumber" class="errorMessage"></span>
                            </div>

                            <!-- 5 -->
                            <div class="mb-3">
                                <label class="form-label" for="accountNumber">
                                    <strong>5. Name Applicant</strong>
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="nameApplicant" name="nameApplicant" value="" >
                                <span id="error-nameApplicant" class="errorMessage"></span>
                            </div>

                            <!-- 6 -->
                            <div class="mb-3">
                                <label class="form-label" for="emailAddress">
                                    <strong>6. Email Address</strong>
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="emailAddress" name="emailAddress" value="@ViewBag.Email" >
                                <span id="error-emailAddress" class="errorMessage"></span>
                            </div>

                            <!-- 7 -->
                            <div class="mb-3">
                                <label class="form-label" for="phoneNumber">
                                    <strong>7. Phone Number</strong>
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="@ViewBag.PhoneNumber" >
                                <span id="error-phoneNumber" class="errorMessage"></span>
                            </div>

                            <h3>I declare that the information I have given is true and correct</h3>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="fundSignature" class="form-label">
                                        Signature
                                        <span class="required-star">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="SignatureBank" name="SignatureBank" value="" placeholder="You MUST SIGN here">
                                    <span id="error-signatureBank" class="errorMessage"></span>
                                </div>
                                <div class="col-sm-5">
                                    <label for="dateFund" class="form-label">
                                        Date
                                        <span class="required-star">*</span>
                                    </label>
                                    <input type="date" name="signDateBank" class="form-control" id="signDateBank" placeholder="dd-mm-yyyy" value="" />
                                    <span id="error-signDateBank" class="errorMessage"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="d-flex flex-stack pt-10">
                        <!--begin::Wrapper-->
                        <div class="mr-2">
                            <button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous" onclick="getPayeeStep()">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr063.svg-->
                                <span class="svg-icon svg-icon-4 me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1" fill="black"></rect>
                                        <path d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z" fill="black"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->Back
                            </button>
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Wrapper-->
                        <div>
                            <button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next" onclick="submitBankAccount()">
                                Save & Continue
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                                <span class="svg-icon svg-icon-4 ms-1 me-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
                                        <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </button>
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Wrapper-->
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/bankAccountDetail.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
}
