<!--begin::Aside-->
<div class="d-flex justify-content-center bg-body rounded justify-content-xl-start flex-row-auto w-100 w-xl-300px w-xxl-400px me-9 mt-5" id="step-aside">
    <!--begin::Wrapper-->
    <div class="px-6 px-lg-10 px-xxl-15 py-20">
        <!--begin::Nav-->
        <div class="stepper-nav">
            <!--begin::Step 1-->
            <div class="stepper-item" data-kt-stepper-element="nav" id="step-payee">
                <!--begin::Line-->
                <div class="stepper-line w-40px"></div>
                <!--end::Line-->
                <!--begin::Icon-->
                <div class="stepper-icon w-40px h-40px" id="stepper-icon-payee">
                    <i class="stepper-check fas fa-check"></i>
                    <span class="stepper-number">1</span>
                </div>
                <!--end::Icon-->
                <!--begin::Label-->
                <div class="stepper-label">
                    <h3 class="stepper-title" id="stepper-title-payee" style="cursor: pointer" onclick="getPayeeStep()">Payee</h3>
                    <div class="stepper-desc fw-bold">TFN Declare</div>
                </div>
                <!--end::Label-->
            </div>
            <!--end::Step 1-->
            <!--begin::Step 2-->
            <div class="stepper-item" data-kt-stepper-element="nav" id="step-bank-account">
                <!--begin::Line-->
                <div class="stepper-line w-40px"></div>
                <!--end::Line-->
                <!--begin::Icon-->
                <div class="stepper-icon w-40px h-40px" id="stepper-icon-bank-account">
                    <i class="stepper-check fas fa-check"></i>
                    <span class="stepper-number">2</span>
                </div>
                <!--end::Icon-->
                <!--begin::Label-->
                <div class="stepper-label">
                    <h3 class="stepper-title" id="stepper-title-bank-account" style="cursor: pointer" onclick="getBankAccountStep()">Bank Account Detail</h3>
                    <div class="stepper-desc fw-bold">Bank Account Detail</div>
                </div>
                <!--end::Label-->
            </div>
            <!--end::Step 2-->
            <!--begin::Step 3-->
            <div class="stepper-item" data-kt-stepper-element="nav" id="step-superannuation">
                <!--begin::Line-->
                <div class="stepper-line w-40px"></div>
                <!--end::Line-->
                <!--begin::Icon-->
                <div class="stepper-icon w-40px h-40px" id="stepper-icon-superannuation">
                    <i class="stepper-check fas fa-check"></i>
                    <span class="stepper-number">3</span>
                </div>
                <!--end::Icon-->
                <!--begin::Label-->
                <div class="stepper-label">
                    <h3 class="stepper-title" id="stepper-title-superannution" style="cursor: pointer" onclick="getSuperannuationStep()">Superannuation</h3>
                    <div class="stepper-desc fw-bold">Superannuation</div>
                </div>
                <!--end::Label-->
            </div>
            <!--end::Step 3-->
            <!--begin::Step 4-->
            <div class="stepper-item" data-kt-stepper-element="nav" id="step-parent-consent">
                <!--begin::Line-->
                <div class="stepper-line w-40px"></div>
                <!--end::Line-->
                <!--begin::Icon-->
                <div class="stepper-icon w-40px h-40px" id="stepper-icon-parent-consent">
                    <i class="stepper-check fas fa-check"></i>
                    <span class="stepper-number">4</span>
                </div>
                <!--end::Icon-->
                <!--begin::Label-->
                <div class="stepper-label">
                    <h3 class="stepper-title" id="stepper-title-parent-consent" style="cursor: pointer" onclick="getParentConsentStep()">Parent/Guardian Consent</h3>
                    <div class="stepper-desc fw-bold">If you are over 18 then skip this step</div>
                </div>
                <!--end::Label-->
            </div>
            <!--end::Step 4-->
            <!--begin::Step 5-->
            <div class="stepper-item" data-kt-stepper-element="nav" id="step-identity-proof">
                <!--begin::Line-->
                <div class="stepper-line w-40px"></div>
                <!--end::Line-->
                <!--begin::Icon-->
                <div class="stepper-icon w-40px h-40px" id="stepper-icon-identity-proof">
                    <i class="stepper-check fas fa-check"></i>
                    <span class="stepper-number">5</span>
                </div>
                <!--end::Icon-->
                <!--begin::Label-->
                <div class="stepper-label">
                    <h3 class="stepper-title" id="stepper-title-identity-proof" style="cursor: pointer" onclick="getIdentityProoImageStep()">Identity proof image</h3>
                    <div class="stepper-desc fw-bold">Upload Identity proof image</div>
                </div>
                <!--end::Label-->
            </div>
            <!--end::Step 5-->
        </div>
        <!--end::Nav-->
    </div>
    <!--end::Wrapper-->
</div>
<!--begin::Aside-->